.header {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 98;

  .menuicon {
    position: relative;
    background-color: #141414;
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: gap 0.3s;
    z-index: 99;

    span {
      border-top: 2px solid white;
      width: 50%;
      transition: opacity 0.3s;
    }
  }
}
