.header {
  display: flex;
  justify-content: center;

  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: relative;
    width: 100%;
    max-width: 90rem;
    margin: 2rem 0rem;

    .toggle {
      position: relative;
      overflow-y: hidden;

      .slider {
        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
          cursor: pointer;
        }

        div:nth-of-type(2) {
          position: absolute;
          bottom: -150%;
          left: 0;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .main {
    margin: 2rem !important;
  }
}
