.header {
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    z-index: 100;
    position: relative;

    .toggle {
      position: relative;
      overflow-y: hidden;

      .slider {
        img:nth-of-type(2) {
          position: absolute;
          bottom: -100%;
          left: 0;
        }
      }
    }
  }
}
