.openings {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 2rem;
  min-height: 100lvh;

  .main {
    width: 100%;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .list {
      display: flex;
      flex-direction: column;

      .job {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgb(200, 200, 200);
        padding: 2rem 0rem;
        transition: all 0.3s;

        div {
          display: flex;
          align-items: center;
          gap: 4rem;

          img {
            transition: all 0.3s;
          }
        }
      }
    }
  }
}

.job:hover {
  padding: 2rem !important;

  img {
    transform: rotate(45deg);
  }
}

@media (max-width: 600px) {
  .job {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 0.5rem;

    div {
      gap: unset !important;
      width: 100%;
      justify-content: space-between;
    }
  }
}
