.cursor {
  width: 2rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  position: fixed;
  z-index: 100;
  pointer-events: none;
  transform-origin: center;
  mask-image: url("../../public/icon.svg");
  mask-repeat: no-repeat;
  mask-size: 100%;
}
