.main {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  padding: 1rem 0rem;
  margin-top: 1rem;
  background-color: black;

  .slider {
    position: relative;
    z-index: 85;
    white-space: nowrap;

    p {
      padding-right: 0.5rem;
    }

    p:nth-of-type(2) {
      position: absolute;
      top: 0;
      left: 100%;
    }
  }
}
