.main {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;

  .sliderContainer {
    position: absolute;
    bottom: 2rem;

    .slider {
      position: relative;
      z-index: 85;
      white-space: nowrap;

      p {
        padding-right: 2rem;
      }

      p:nth-of-type(2) {
        position: absolute;
        top: 0;
        left: 100%;
      }
    }
  }
}
