.nav {
  background-color: rgb(250, 250, 250);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 2rem;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;

  small {
    position: absolute;
    bottom: 10rem;
    transition: all 0.5s;
  }

  .links {
    width: 100%;
    max-width: 90rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    max-width: 90rem;
    margin: 0 auto;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }
}

@media (max-width: 600px) {
  .nav {
    .bottom {
      flex-direction: column-reverse;
      gap: 1rem;
    }
  }
}
