.header {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 98;

  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90rem;
    margin: 2rem 0rem;

    .menu {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

@media (max-width: 1440px) {
  .main {
    margin: 2rem !important;
  }
}
