.slide {
  width: calc(100vw - 2rem);
  max-width: 90rem;
  height: 100%;
  position: relative;
  overflow: hidden;

  .bg,
  .video {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    object-position: center;
    filter: brightness(70%);
    backdrop-filter: brightness(70%);
    transition: scale 0.5s;
    z-index: 80;
  }

  .intro {
    background-color: #00000050;
    height: 100%;
    width: 100%;
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    opacity: 0;
    transition: all 0.3s;
    z-index: 81;
  }
}

.slide:hover {
  .intro {
    opacity: 1;
  }

  .bg,
  .video {
    scale: 1.15;
  }
}
