.hero {
  position: sticky;
  top: 0;
  height: calc(100svh - 89px);
  width: 100%;
  z-index: 85;

  .info {
    position: absolute;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
  }

  img {
    object-fit: cover;
    object-position: center;
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
  }
}
