.hero {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100svh;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    );
    height: 100%;
    pointer-events: none;
  }

  .info {
    position: absolute;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;

    div {
      display: flex;
      align-items: center;
      gap: 1rem;

      .arrow {
        filter: invert(1);
        transform: rotate(180deg);
        transition: all 0.3s;
      }

      &:hover {
        .arrow {
          transform: rotate(225deg);
        }
      }
    }
  }

  .bg {
    object-fit: cover;
    object-position: center;
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
  }
}
