.history {
  min-height: 50lvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;

  .paragraph {
    display: flex;
    height: 100%;
    max-width: 90rem;
    flex-wrap: wrap;
    margin: 5rem 2rem;

    .word {
      position: relative;
      margin-right: 1rem;
      margin-top: 0.25rem;

      .shadow {
        position: absolute;
        opacity: 20%;
      }
    }
  }
}
