::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

h1,
.h1 {
  font-size: clamp(3.125rem, -0.7813rem + 12.5vw, 6.25rem);
  font-weight: 300;
  line-height: 1.1;
}

h2,
.h2 {
  font-size: clamp(2.5rem, 1.7188rem + 2.5vw, 3.125rem);
  font-weight: 300;
  line-height: 1.1;
}

h3,
.h3 {
  font-size: clamp(1.875rem, 1.0938rem + 2.5vw, 2.5rem);
  font-weight: 300;
  line-height: 1.1;
}

h4,
.h4 {
  font-size: clamp(1.25rem, 0.4688rem + 2.5vw, 1.875rem);
  font-weight: 300;
  line-height: 1.1;
}

p,
a,
button {
  font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.125rem);
  text-decoration: none;
  color: black;
  font-family: inherit;
  transition: color 0.3s;
  font-weight: 300;
}

a {
  transition: color 0.3s;
}

a:hover {
  color: rgb(200, 200, 200);
}

small {
  font-weight: 300;
}

.btn-white {
  border-radius: 2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  background-color: white;
  transition: all 0.3s;
  width: fit-content;
  min-width: 15rem;
  border: 1px solid #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-white:hover {
  background-color: #0a0a0a;
  color: white;
  border: 1px solid #0a0a0a;
}

.btn-black {
  border-radius: 2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  background-color: #0a0a0a;
  transition: all 0.3s;
  color: #fff;
  width: fit-content;
  min-width: 15rem;
  border: 1px solid #0a0a0a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-black:hover {
  background-color: #fff;
  color: #0a0a0a;
  border: 1px solid #f4f4f4;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.gray {
  color: rgb(200, 200, 200);
}

.bold {
  font-weight: 400;
}

/*motion page transition*/
.slidein {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  height: 100vh;
  width: 100%;
  transform-origin: bottom;
  z-index: 99;
}

.slideout {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  height: 100vh;
  width: 100%;
  transform-origin: top;
  z-index: 99;
}
