::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  cursor: url("/cursor.svg"), auto;
}

h1,
.h1 {
  font-size: clamp(3.125rem, 0.7813rem + 7.5vw, 5rem);
  font-weight: 400;
  line-height: 1.1;
}

h2,
.h2 {
  font-size: clamp(2.5rem, 1.7188rem + 2.5vw, 3.125rem);
  font-weight: 400;
  line-height: 1.1;
}

h3,
.h3 {
  font-size: clamp(1.875rem, 1.0938rem + 2.5vw, 2.5rem);
  font-weight: 400;
  line-height: 1.1;
}

h4,
.h4 {
  font-size: clamp(1.5625rem, 1.1719rem + 1.25vw, 1.875rem);
  font-weight: 400;
}

p,
a,
button {
  font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.125rem);
  text-decoration: none;
  color: black;
  font-family: inherit;
  transition: color 0.3s;
  font-weight: 300;
}

a {
  transition: color 0.3s;
}

a:hover {
  color: rgb(150, 150, 150);
}

small {
  font-weight: 300;
}

.btn-white {
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: #ffffff25;
  backdrop-filter: blur(0.15rem);
  -webkit-backdrop-filter: blur(0.15rem);
  width: fit-content;
  min-width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-white:hover {
  background-color: #00000025;
}

.btn-black {
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #000;
  border: 1px solid #000;
  background-color: #00000025;
  backdrop-filter: blur(0.15rem);
  -webkit-backdrop-filter: blur(0.15rem);
  width: fit-content;
  min-width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-black:hover {
  background-color: #ffffff25;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.gray {
  color: rgb(145, 145, 145);
}

.difference {
  mix-blend-mode: difference;
}

.bold {
  font-weight: 500;
}

/*not found, error,...*/
.notfound {
  height: calc(100lvh - 89px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

/*prevent scrolling when nav is open*/
.overlay-open {
  overflow: hidden;
}
