#home .swiper {
  height: calc(100svh - 156px);
}

#home .swiper-slide {
  height: 100%;
  width: fit-content !important;
}

#home .swiper-button-prev,
#home .swiper-button-next {
  visibility: hidden;
}

#team .swiper {
  height: 100lvh;
}

#team .swiper-slide {
  height: 100%;
  width: fit-content !important;
}
