#home .swiper {
  height: calc(100svh - 105px);
}

#home .swiper-slide {
  height: 100%;
  width: fit-content !important;
}

#home .swiper-button-prev,
#home .swiper-button-next {
  visibility: hidden;
}

#team .swiper {
  height: calc(100lvh - 160px);
}

#team .swiper-slide {
  height: 100%;
  width: fit-content !important;
}

#slides {
  background-color: #f4f4f4;
  min-height: 50lvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slides .swiper {
  height: 30rem;
  margin-bottom: 5rem;
}

#slides .swiper-slide {
  height: 25rem;
  width: 20rem !important;
  border-radius: 2.5rem;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scale: 0.95;
  transition: all 0.3s;
}

#slides .swiper-slide-active {
  scale: 1;
  margin: 0rem 0.5rem;
}

#slides .swiper-button-prev {
  color: black;
  position: absolute;
  bottom: 0;
  top: unset;
  left: 2rem !important;
}

#slides .swiper-button-next {
  color: black;
  position: absolute;
  bottom: 0;
  top: unset;
  right: 2rem !important;
}

#slides .swiper-button-next::after,
#slides .swiper-button-prev::after {
  font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.125rem);
}
