#home .swiper {
  height: calc(100svh - 109px);
}

#home .swiper-slide {
  height: 100%;
  width: 30rem;
}

#home .swiper-button-next::after,
#home .swiper-button-prev::after {
  font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.125rem);
  color: #000;
}

@media (max-width: 800px) {
  #home .swiper-slide {
    width: 22rem;
  }
}
