.vision {
  background-color: rgb(250, 250, 250);
  min-height: 100lvh;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .main {
    margin: 5rem 2rem;
    width: 100%;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 1rem;

    .awards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;

      img {
        object-fit: contain;
      }
    }
  }
}
